DEV/DevQuesstions.Domain/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
DEV/DevQuesstions.Domain/obj/Debug/net10.0/DevQuesstions.Domain.AssemblyInfo.cs
DEV/DevQuesstions.Domain/obj/Debug/net10.0/DevQuesstions.Domain.AssemblyInfoInputs.cache
DEV/DevQuesstions.Domain/obj/Debug/net10.0/DevQuesstions.Domain.assets.cache
DEV/DevQuesstions.Domain/obj/Debug/net10.0/DevQuesstions.Domain.GeneratedMSBuildEditorConfig.editorconfig
DEV/DevQuesstions.Domain/obj/Debug/net10.0/DevQuesstions.Domain.GlobalUsings.g.cs
